* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */
header{
	width: 100%;
	background-color:#333333;
  font-family: "Comic Sans MS";
}
.top{
  background-image: url(./img/top.png);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.top-main{
  width: 100%;
  height: 400px;
  background-color: rgba( 0, 0, 0, 0.3); /* 背景色を半透明の黒にする */
}
.text{
  text-align: center;
  padding-top: 150px;
  font: optional;
  color: aliceblue;
  font-size: 30px;
}

.bar{
  display: flex;
  background-color:#F0F8FF	;
  height: 70px;
  justify-content: center;
}
.nav-list-item{
	list-style: none;
	float: left;
	margin: auto 50px;
	font-size: 20px;
	color: #333;
	line-height: 70px;
}
.nav-list-item:hover{
  color: #FF8856;
  font-size: 25px;
}
#about{
  width: 100%;
  height: 500px;
  background-color: #DCDCDC	;
  padding: 50px;
  text-align: center;
}
.topabout{
  margin-bottom: 40px;
}

.side-left{
  width: 30%;
  display: inline-block;
}
.side-right{
  width: 46%;
  display: inline-block;
}
.about1{
  margin-right: 50px;
}
.about1:last-child{
  margin-right: 0px;
}
.imgtag{
  border-radius:50%;
  width:350px;
	height:350px;
}
