* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header{
	width: 100%;
	height: 70px;
	background-color:#333333;
  font-family: "Comic Sans MS";
}
.logo{
  float: left;
  line-height: 50px;
  color:white;
}

.header-box{
	width: 1024px;
	margin: 0 auto;
}
.header-logo{
	height: 70px;
  margin: 0;
  float: left;
}
.nav-list-item{
	list-style: none;
	float: right;
	margin: auto 30px;
	font-size: 20px;
	color: gainsboro;
	line-height: 70px;
}
.nav-list-item:hover{
  color: bisque;
  font-size: 25px;
  
}